:root {
  /* Colors */
  --light-gray: #F6F6F8;
  --teal: #3FB0AC;
  --yellow: #FAE596;
  --dark-teal: #173E43;
}

.btn.btn-primary {
  background-color: var(--dark-teal);
  border: 1px solid var(--dark-teal);
  color: white;
}

#header {
  background-color: white;
}

#tag-line {
  margin: 0 auto;
}

body {
  color: var(--dark-teal);
  background-color: var(--teal);
  font-family: 'Muli', sans-serif;
}

/* navbar { */
  /* background-color: white; */
/* } */

#session-form {
  max-width: 700px;
  max-height: 800px;
  padding: 40px;
  border: 10px solid var(--teal);
  background-color: var(--light-gray);
  border-radius: 18px;
}

/* #hello1 { */
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: var(--teal); */
/* } */

/* #hello2 { */
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: var(--light-purple); */
/* } */

/* #hello3 { */
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: var(--yellow); */
/* } */

/* #hello4 { */
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: var(--blue); */
/* } */

