<form action="/polls" method="post" id="new-poll-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="poll-name" aria-describedby="pollName" placeholder="Enter Poll Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" id="poll-description" placeholder="Enter Poll Description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- <script> -->
<!-- const form = form document.getElementById("new-poll-form") -->
<!-- const formData = JSON.stringify(form.serializeArray()) -->

<!-- $.ajax({ -->
  <!-- type: "POST", -->
  <!-- url: "serverUrl", -->
  <!-- data: formData, -->
  <!-- success: function(){}, -->
  <!-- dataType: "json", -->
  <!-- contentType : "application/json" -->
<!-- }); -->
<!-- </script> -->
